{% extends 'base.html.twig' %}

{% form_theme formUsers 'bootstrap_4_layout.html.twig' %}

 {% block body %}
<h1>Page inscription</h1>

{{ form_start(formUsers)}}
{{ form_widget(formUsers)}}
{{ form_end(formUsers)}}

{% endblock %}