{% extends 'base.html.twig' %}

{% block title %}Create your list{% endblock %}

{% block body %}

    <h1>Create your list !</h1>
    {{ form_start(form) }}

{{ form_row(form.name) }}
{{ form_row(form.description) }}



    <div class="form-group">
            <button class="btn btn-primary" type="submit">Create List</button>
        </div>
          {{ form_end(form) }}

{% endblock %}
